@model ProductViewModel
@{
    var categoryID = Model.ProductModel.CategoryID;
    var supplierID = Model.ProductModel.SupplierID;
    var unitID = Model.ProductModel.UnitID;
}
<form id="productForm">
    <input asp-for="ProductModel.ID" type="text" hidden />
    <div class="row mb-3">
        <label for="productName" class="form-label col-2">Name<span class="asterisk">*</span></label>
        <div class="col-9">
            <input type="text" asp-for="ProductModel.Name" id="productName" required class="form-control" />
            <div class="invalid-feedback">Please enter a valid name.</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="textDescription" class="form-label col-2">Description</label>
        <div class="col-9">
            <input type="text" asp-for="ProductModel.Description" id="textDescription" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="unitPrice" class="form-label col-2">Unit Price<span class="asterisk">*</span></label>
        <div class="col-9">
            <input type="number" asp-for="ProductModel.UnitPrice" id="unitPrice" required class="form-control" />
            <div class="invalid-feedback">Please enter a valid unit price.</div>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="ProductModel.SupplierID" class="form-label col-2">Supplier<span class="asterisk">*</span></label>
        <div class="col-9">
            <select asp-for="ProductModel.SupplierID" id="comboBoxSupplier" required class="form-control">
            </select>
            <div class="invalid-feedback">Please select a valid supplier.</div>
        </div>
        <div class="col-1">
            <button type="button" id="buttonAddSupplier" class="btn btn-primary">Add</button>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="ProductModel.CategoryID" class="form-label col-2">Category<span class="asterisk">*</span></label>
        <div class="col-9">
            <select asp-for="ProductModel.CategoryID" id="comboBoxCategory" required class="form-control"></select>
            <div class="invalid-feedback">Please select a valid category.</div>
        </div>
        <div class="col-1">
            <button type="button" id="buttonAddCategory" class="btn btn-primary">Add</button>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="ProductModel.UnitID" class="form-label col-2">Unit<span class="asterisk">*</span></label>
        <div class="col-9">
            <select required id="comboBoxUnit" asp-for="ProductModel.UnitID" class="form-control"></select>
            <div class="invalid-feedback">Please select a valid unit.</div>
        </div>
        <div class="col-1">
            <button type="button" id="buttonAddUnit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>


<script>
    var categoryID = @Html.Raw(Json.Serialize(categoryID));
    var supplierID = @Html.Raw(Json.Serialize(supplierID));
    var unitID = @Html.Raw(Json.Serialize(unitID));
</script>