@model UnitModel
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" cellpadding="0" cellspacing="0" style="text-align:center" width="100%" id="tableUnit">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<button type="button" id="buttonNewUnit" class="btn btn-warning btn-sm">New Unit</button>
<br />
<form id="formUnit">
    <input asp-for="@Model.ID" type="text" hidden />
    <input asp-for="@Model.UnitName" type="text" required class="form-control" />
    <div class="invalid-feedback">Please enter a Unit Name</div>
</form>