<div class="col-12">
    <div class="card">
        <div class="card-header" style="background-color:#f0f0f0">
            <div class="card-title">
                <b> Product </b>
            </div>
            <div class="card-tools">
                <a class="btn btn-primary" asp-action="Form" asp-controller="Product" id="buttonAdd"><i class="fa fa-plus"></i> Add New Product</a>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" cellpadding="0" cellspacing="0" style="text-align:center" width="100%" id="tableProduct">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
