@model StockInModel

<form id="stockInForm">
    <input type="text" id="stockInID" hidden asp-for="@Model.ID" />

    <div class="row mb-3">
        <label for="stockInNumber" class="form-label col-sm-2">No<span class="asterisk">*</span></label>
        <div class="col-sm-10">
            <input type="text" asp-for=No autofocus class="form-control" readonly id="stockInNumber" name="stockInNumber" placeholder="Stock In Number" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="stockInDate" class="form-label col-sm-2">Date<span class="asterisk">*</span></label>
        <div class="col-md-10 col-lg-10">
            <input type="date" asp-for=Date class="form-control col-sm-3" id="stockInDate" name="stockInDate" placeholder="Stock In Date" required>
            <div class="invalid-feedback">
                Please provide a product.
            </div>
        </div>
    </div>
</form>