@model StockInDetailModel
@{
    var productID = Model.ID;
}
<form id="stockInDetailForm" class="needs-validation" novalidate>

    <div class="row mb-3">
        <label for="quantity" class="form-label col-sm-2">Quantity<span class="asterisk">*</span></label>
        <div class="col-md-10 col-lg-10">
            <input type="number" class="form-control" asp-for=Quantity id="quantity" min="1" name="quantity" placeholder="Quantity" required />
            <div class="invalid-feedback">
                Please provide a valid quantity.
            </div>
        </div>
    </div>
</form>
<script>
    var productID = @Html.Raw(Json.Serialize(productID));
</script>