
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <b> User Setting</b>
                <button class="btn btn-primary float-end" id="buttonAddUser"><i class="fa fa-plus"></i> Add New User</button>
            </div>

        </div>
        <div class="card-body">
            <br />
            <div class="table-responsive">
                <table class="table  table-hover" width="100%" id="tableUser">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>KTP</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
