@{
    ViewData["Title"] = "User Setting";
}


<div class="row">
    <partial name="_TableUser" />
</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#18864A">
                <h5 class="modal-title text-white" id="userModalLabel">User Information</h5>
            </div>
            <div class="modal-body" id="bodyModal">
                <partial name="_userModal" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="buttonSave" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
}