@using System.Security.Principal
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<ul class="navbar-nav ml-auto">
	<a asp-controller="Auth" asp-action="Logout" class="dropdown-item has-icon text-danger">
		<i class="fas fa-sign-out-alt"></i> Logout
	</a>
</ul>
