<div class="container-fluid h-100 add-card-setting">
    <div class="row">
        <div class="col">
            <div class="card card-row bg-gradient-primary">
                <div class="card-header">
                    Draft / Revise
                    <div class="card-tools"><i class="far fa-edit"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">0</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-row bg-gradient-success">
                <div class="card-header">
                    In Progress
                    <div class="card-tools"><i class="fa-solid fa-spinner"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">0</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-row bg-gradient-purple">
                <div class="card-header">
                    Validation Task
                    <div class="card-tools"><i class="fa-solid fa-list-check"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">0</h5>
                </div>
            </div>
        </div>
    </div>
</div>
