@{
    ViewData["Title"] = "Purchase Order";

}
<div class="card">
    <div class="card-header" style="background-color:#f0f0f0">
        <div class="card-title">
            <h5>Purchase Order</h5>
        </div>
        <div class="card-tools">
            <button type="button" id="buttonAdd" class="btn btn-primary btn-sm"><i class="fa-solid fa-file-circle-plus"></i> Add</button>
            <button type="button" id="buttonSearch" class="btn btn-warning btn-sm"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-body" id="purchaseOrderHeaderBody">
                <partial name="_FormHeader" model="new PurchaseOrderModel()" />
            </div>
        </div>
        <div class="card">

            <div class="card-body" id="purchaseOrderDetailBody">
                <div class="row mb-3">
                    <label for="barcode" class="form-label col-2">Barcode</label>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Scan barcode / search here" id="barcode" autofocus />
                        <div class="invalid-feedback">
                            Please provide a barcode.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="selectProduct" class="form-label col-2">Product<span class="asterisk">*</span></label>
                    <div class="col-10">
                        <select class="form-control js-example-basic-single" id="selectProduct">
                        </select>
                        <div class="invalid-feedback">
                            Please provide a product.
                        </div>
                    </div>
                </div>
                <partial name="_FormDetail" model="new PurchaseOrderDetailModel()" />
            </div>
            <div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" id="buttonAdd">Add Product</button>
                </div>
            </div>
        </div>
        <partial name="_Table" />
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" id="buttonSave">Save</button>
        <button type="button" class="btn btn-secondary" id="buttonCancel">Cancel</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/PurchaseOrder.js" asp-append-version="true"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
}